@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .masonry {
      column-gap: 1.5em;
      row-gap: 1.5em;

      column-count: 3;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}
